body {
    background-color: #0d2235;
    transition: all 0.3s ease;
}
img {
    max-width: 100%;
}

h1 {
    color: white;
    text-align: left;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 80px;
}
h1::after {
    content: '';
    width: 100px;
    height:6px;
    background-color: #66a2fe;
    display: block;
}
.container img {
    margin-top: 55px;
}

label {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-top: 2rem;
}
input[type="submit"]{
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    height: auto;
}
.error {
    background-color: #b7322c;
    padding: 1rem;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.resultado {
    color: white;

}
.resultado h2 {
    font-weight: bold;
    color: white;
}


.resultado p {
    font-size: 15px!important;
}
.resultado p span {
    font-weight: bold;
}
p.precio{
    font-size: 30px!important;
}
/* Crear una clase donde los bordes de los botones sean redondos */
.rounded {
    border-radius: 35px!important;
}

#toggle {
    height: 20px;
    width: 40px;
    appearance: none;
    border-radius: 25px;
    background-color: white;
    position: relative;
    outline: none;
    cursor: pointer;
}

#toggle::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #0d2235;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translateX(0);
    transform: scale(0.9);
    transition: all 0.3s ease;
    }
#toggle.active::before {
    left: 20px; 
    background-color: white;
}
#toggle.active {
    background-color: #0d2235;
}
body.light-theme{
    background-color: white;
    color: #0d2235;

}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.w-40{
    width: 40%;
}

.w-60{
    width: 60%;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}
.flex-end{
    justify-content: flex-end;
}
.wrap{
    flex-wrap: wrap;
}

.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}
.db-light{
    background-color: #0d2235;
}
/* Spinner */
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 20px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: gray; 
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
    } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    }
}

/* Media queries para mobiles */
@media (min-width:360px) and ( max-width:480px) {
    #contenedor{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:480px) {
    form {
        margin-top: 40px;
    }
}